

.Card{
    min-width: 60vw;
    min-height: 60vh;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #787575;
    border-radius: 8px;
    gap: 0.5vh;
    box-shadow: rgba(223, 146, 146, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}